.container {
    width:95% !important;
}

textarea, input {
    font-family: monospace;
}

/*for the error , connecting & renaming window*/

[dir="rtl"] .modal-footer {
    text-align : left !important;
}

[dir="rtl"] .close {
    float : left;
}

[dir="rtl"] .fa-step-forward::before {
    content: "\f048";
}
